@import './base.css';

#app 
{
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a 
{
  text-decoration: none;
  color: inherit;
}

body 
{
  margin: 0;
  display: block;
  place-items: initial;
  background: #f0f0f0;
  color: #111;
}

@media (hover: hover) 
{
  a:hover 
  {
    opacity: 0.8;
  }
}
